.wrapper{
    box-sizing: border-box;
    margin: 0 auto;
    min-height:100%;
    padding:26px 20px;
    background-color: white;
}

@media(max-width : 476px){
      .wrapper{
        padding:10px 10px;
      }
}